$mobile-large-breakpoint: 601px;
$small-desktop-breakpoint: 901px;
$large-desktop-breakpoint: 1201px;
$desktop-container-width: 1200px;
$desktop-padding: 1rem;
$mobile-header-height: 100px;
$desktop-header-height: 70px;
$mobile-footer-height: 80px;
$desktop-footer-height: 55px;
$header-z-index: 10;
$white-shadow: 0 0.2rem 0.5rem #808080;
$black-shadow: 0 0.1rem 0.2rem #101010;
$width-suggestions: min(600px, 100%);
$card-image-big-size: 200px;
$card-image-small-size: 60px;
